{% extends 'base.html' %}

{% block content %}

<div class="container">
  <br>
  <h3>Please fill out the text boxes below and click submit when ready.</h3>
  <br>
  <form action="{% url 'add_components' %}">
    <fieldset>
      <div class="mb-3">
        <label for="submit_language" class="form-label">Enter programming language:</label>
        <input type="text" class="form-control" id="submit_language" placeholder="python">
      </div>
      <div class="mb-3">
        <label for="submit_task" class="form-label">Describe your programming task:</label>
        <textarea class="form-control" id="submit_task" rows="5" placeholder="Expand the text box for more room."></textarea>
      </div>
      <input type="submit" value="Submit details" class="btn btn-primary" />
    </fieldset>
  </form>
  <br>
  <br>
  <h3>Please return soon.</h3>
  <a style="text-decoration:none" href="{% url 'home' %}">
    <button type="button" class="btn btn-primary" name="code_link">Return to the salon</button>
  </a>
</div>


{% endblock content %}
