<!DOCTYPE html>
<html>
  <head>
    <title>Code assistant interface.</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Our greatest apologies, Stevens is currently indisposed.</h1>
      <h2>Please return soon.</h2>
      <a style="text-decoration:none" href="{% url 'home' %}">
        <button type="button" class="btn btn-primary" name="code_link">Return to the salon</button>
      </a>
    </div>
  </body>
</html>
