{% extends 'base.html' %}


{% block content %}

<div class="column">

  <div class="block">
    <h2 class="title is-1">
      Please choose from the offerings below.
    </h2>
  </div>

</div>

<div class="block">
  <div class="card">
      <a href="{% url 'code' %}">
          <div class="card-content">
            <div class="content">
               Bytes of Brilliance
            </div>
          </div>
      </a>
  </div>
</div>

<div class="block">
  <div class="card">
      <a href="{% url 'wisdom' %}">
          <div class="card-content">
            <div class="content">
              Words of Wisdom
           </div>
          </div>
      </a>
  </div>
</div>

{% endblock content %}
